@model WebApplication2.viewmodels.cabangvm
@{
    ViewBag.Title = "Detail";
}

<h2>Detail Cabang</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(model => model.cabang_id)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm, "Nama Cabang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(cabangvm => cabangvm.nama_cab_, new { htmlAttributes = new { @class = "form-control" ,  @readonly = "readonly" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.nama_cab_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm.kode_cab, "Kode Cabang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(cabangvm => cabangvm.kode_cab, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.kode_cab, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm.aktif, "aktif", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(cabangvm => cabangvm.aktif, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.aktif, "", new { @class = "text-danger" })
            </div>
        </div>
      
        
        <div>
           <fieldset class="scheduler-border">
    <legend class="scheduler-border">Data Karyawan</legend>
    <table id="datakar" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                   Nama Karyawan 
                </th>
                <th>
                    Kode Karyawan
                </th>
        </thead>
    </table>
        </fieldset>
            <hr/>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.ActionLink("back", "Index", null, new { @class = "btn btn-default btn-primary" })
                    <input type="submit" value="Save" class="btn btn-success hidden" />
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
   
        $(document).ready(function () {
        Datakarhis = {
            dta: null,

            init: function () {
                dta = $('#datakar').DataTable({
                    "serverSide": true,
                    "responsive": true,
                    "processing": true,
                    "scrollY": "300px",
                    "scrollX": true,
                    "scrollCollapse": true,

                    "ajax": {
                        "url": "@Url.Action("Getkaryawan", "karyawan", new { cabang_id = Model.id})",
                    type: "POST",
                    //"data": function (data) {
                    //    console.log(data);

                    //}
                    },

                    "columnDefs": [
                       { "width": "50%", "targets": 0 },
                       { "width": "50%", "targets": 0 }
                    ],
                    "columns": [
                        { "data": "nama", "searchable": true, "sortable": true },
                        { "data": "kode_kar", "searchable": true, "sortable": true }
                    ],
                    });
        },

        refresh: function () {
            dta.ajax.reload();
        }
        };
            Datakarhis.init();
        });

    </script>
}
