@model WebApplication2.viewmodels.cabangvm

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(m => m.id)
    <div class="form-horizontal">
        <h4>Edit Cabang</h4>
        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm, "Nama Cabang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(cabangvm => cabangvm.nama_cab_, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.nama_cab_, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm.kode_cab, "Kode Cabang", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(cabangvm => cabangvm.kode_cab, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.kode_cab, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(cabangvm => cabangvm.aktif, "aktif", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(cabangvm => cabangvm.aktif, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(cabangvm => cabangvm.aktif, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                @Html.ActionLink("back", "Index", null, new { @class = "btn btn-default btn-flat" })
                <input type="submit" value="Save" class="btn btn-success"  />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
